@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  overscroll-behavior: none;
}

@layer utilities {
  .font-arabic {
    font-family: 'Amiri', 'Traditional Arabic', 'Arial Unicode MS', serif;
  }
}
